# Persisted host settings for easy-onion-gitea
COMPOSE_PROJECT_NAME=easy-onion-gitea
INSTALL_ROOT=/opt/easy-onion-gitea
HTTP_PORT=3000
ADMIN_USER=gitea-admin
REQUIRE_2FA=false
GITEA_IMAGE=gitea/gitea:1.27.1@sha256:34e3f6b75f5cbb6aebce588037fc5a53c84213e4d4b00da0a8d73e031a558e52
TOR_IMAGE=easy-onion-gitea-tor:0.1.0
LOOPBACK_IMAGE=easy-onion-gitea-loopback:0.1.0
